.con{
    background-color: #f9f9f9;
    height:700px;
    border-style: solid;
    border-color: #f9f9f9;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin:auto;
}
.con h3{
    font-weight: bolder;
    padding:auto;
    font-size: 45px;
}

.labo{
    float: left;
    margin-left:140px;
    font-weight: bold;
}
.form-control{
    margin:auto;
    
}
.btn{
    background-color:#339FFF;
    color: #ffffff;
    
}
.have{
    float: right;
margin-right: 140px;
font-size: 14px;
}
.select{
    margin:auto;
}

.container1{
    padding: 4%;
    
    
}
img {
   
  border: 1px ;
  }

    
   

    
