body{
    background-color: #339FFF;
    margin-bottom: 30px;
}
h3{
    margin-left:140px;
}
.forma{
    background-color: #f9f9f9;
    width:600px;
    height:500px;
    border-style: solid;
    border-color: #f9f9f9;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin:auto;
}
.forma h3{
    font-weight: bolder;
    padding:auto;
    font-size: 45px;
}
.lab{
    float: left;
    margin-left: 140px;
    font-weight: bold;
    padding-bottom: auto;
    
}
.form-group{
    margin-bottom: 20px;
}
.form-control{
    margin:auto;
    margin-left:140px;
    width:300px;
    height:20px;
    
}
.cee{
    margin-bottom:10px;
}
.button{
    width: 310px;
    height:30px;
    margin-left:140px;
    background-color:#339FFF;
    color: #ffffff;
    border-color: #339FFF;
    
}
.forgot{
float: right;
margin-right: 140px;
font-size: 14px;
}